<div class="container">
    <header>
    <h1 class="heading-1">{{name}}</h1>
    <div class="sub-heading">
      <p>Cook time: <span>{{cook_time}}</span></p>
      <p class="importent">{{type}}</p>
    </div>
    </header>

    <div class="main">
      <div class="home">
        <div class="left">
          <img src={{img_url}} class="home-img" alt="Meal photo">

          <h4 class="heading-2">
           Description: <span>{{description}}</span>
          </h4>
         
        </div>

        <div class="right">
          <h3 class="heading-3">Ingredients</h3>
          <div class="lists">
            <div class="list">
           
              <p>{{ingredients}}</p>
            </div>
         
          </div>

          <h3 class="heading-3">Views</h3>
          <div class="lists">
            <div class="list">
              <p>{{looks}}</p>
            </div>
          </div>

        </div>
      </div>

     <h3>Instructions</h3>
     <p>{{instructions}}</p>
    </div>
  </div>
