<div class="header">
    <h3>{{name}}</h3>
  </div>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h3>Cook Time: {{cook_time}}</h3>
        <h5>Type: {{type}}</h5>
        <img src={{img_url}} alt="Meal selected" style="max-height: 400px; max-width: 75%;" >
        <h3>Description: {{description}}</h3>
        <h3>Instructions: {{instructions}}</h3>
      </div>
      
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>Ingredients</h2>
        <p>{{ingredients}}</p>
      </div>
      <div class="card">
        <h3>Views: {{looks}}</h3>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>
  
  <div class="footer">
    <h2>Footer</h2>
  </div>