<div class="nav">
<div class="left-nav">
        <a style="cursor: pointer;" class="opt">Breakfest</a>
        <a style="cursor: pointer;" class="opt">Lunch</a>
        <a style="cursor: pointer;" class="opt">Dinner</a>
        <a style="cursor: pointer;" class="opt">Snack</a>
    </div>
    <div class="right-nav">
        <a style="cursor: pointer;" class="opt">Add Meal</a>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

<div ng-app="sample" >
  <div class="sample ten">
    <input type="text" name="search" ng-model="search.$" placeholder="search">
    <button style="cursor:pointer;" type="submit" class="btn btn-search">
      <i class="fa fa-search"></i>
    </button>
    <button style="cursor: pointer;" type="reset" class="btn btn-reset fa fa-times"></button>
  </div>
  <br>
</div>
    </div>
</div>