<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="cursor: pointer;" (click)="goHome()">Home</a>
    <form class="d-flex input-group w-auto">
      <input
        type="search"
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
    <button type="button"
    class="btn btn-primary"
     style="cursor: pointer; display: flex;"
      (click)="openPopup()" >Add Meal</button>
      <div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Pick a Meal!</h4>
      </div>
      <div class="modal-body">
        <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
  </div>
</nav>