<div class="wrapper"> 

    <!-- 1st blog post -->
    <div class="card">
  
      <!-- banner image and text -->
        <div class="card-banner">
          <p class="category-tag popular">{{food.name}}</p>
          <img class="banner-img" src={{food.img_url}} alt=''>
        </div>
  
  <!-- #tags,heading,description -->
        <div class="card-body">
          <p class="blog-hashtag">{{food.type}}</p>
          <h3 class="blog-title">{{food.description}}</h3>
          <p class="blog-description">{{food.cook_time}}</p>
    
        </div>
      </div>
      </div>
  <!-- 1st blog post - The End -->