/* You can add global styles to this file, and also import other style files */
app-randombutton{
display: flex;
justify-content: center;
padding-top: 2%;
}

.cdk-overlay-connected-position-bounding-box {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

.any-container{
  margin-left: 15%;
  margin-right: 15%;

}

.clear-btn{
  width: 15%;
}
  
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.header{
  display: flex;
  justify-content: center;
}

.add-meal{
    position: absolute;
    right: 15%;
  padding-top: 1.5px;
}

.modal-body{
  display: flex;
  justify-content: space-evenly;
}

.input-text{
  display: inline-grid;
}

